<div id="buscador">
  <div class="imagem menu-buscador">
    <img id="imagem-busca" src="images/buscar.png" />
  </div>
  <div class="menu-buscador" id="buscador-form">
    <form id="form_buscador" action="">
      <!--<input type="text" class="caixa_busca" id="caixa_busca" >-->
      <textarea rows="1" class="caixa_busca" id="caixa_busca"></textarea>
    </form>
  </div>
  <div id="back-to-results" class="menu-buscador"></div>
  <div class="media-display-type">
    <div class="grid"></div>
    <div class="list"></div>
  </div>
</div>
<div id="result-string"></div>
