<div><h3><%=mucua.description%></h3></div>
<div><img id="mucua_image" src="<%=mucua.image %>"/></div>
<div><%=mucua.note%></div>
<div class="link"><a href="<%=mucua.url %>"><%=mucua.url%></a></div>
<% if ((mucua.description === BBX.config.MYMUCUA) || (config.mucua.toLowerCase() === 'rede')) { %>
<div class="storage bold">Acervo: <%=mucua.storageSize%> <%= BBX.mucua.info.usedByAnnexUnit %></div>
<% } %>
<div class="more-info"><a href="">mais info</a></div>
<% if (config.mucua.toLowerCase() === 'rede' || config.mucua === '') { %>
<div class="mucuas"><h3><a href="<%=config.interfaceUrl%><%=config.MYREPOSITORY %>/mucuas">lista de mucuas</a></h3></div>
<% } %>
