<ul id="terms-navigation">
  <% var termCount = _.size(terms),
     termId = 0;
     %>
  <% _.each(terms, function(term) { %>
  <% termId += 1 %>
  <li class="search-term">
    <a class="search-links" href="<% print(baseUrl + term) %>"><%= term %></a>
    <a class="trash-term" id="term_<%=termId%>"><img src="images/trash.png" /></a>
    <span class="search-links">
      <% if (termId < termCount) { %>+<% } %>
    </span>
  </li>
  <% if (termId == termCount) { %>
  <li class="add-term">
    <a>++</a>
    <span class="legend">Adicionar termo à essa busca</span>
  </li>
  <% } %>
  <% }); %>
</ul>
