<div class="sobre-content">
  
  <h3>Sobre o Baobáxia</h3>
  <pre>
"A ideia nasce da referência do Baobá, árvore que vive milhares                               .   *               (
de anos e representa simbolicamente a memória coletiva ligada ao        __ \ /| // (>__/)
território. Baobáxia é a união de baobá com galáxia. Uma galáxia de       \_| |// __/ _/
memórias coletivas locais ligadas ao território. A galáxia liga também      |    % __/
com as estrelas, que por sua vez são ligadas a Casa de Cultura Tainã,        \     )
que em tupi-guarani significa caminho das estrelas. Baobáxia vira bbx,      /   b   \             Q
tirando as vocais, que remete ao acrônimo bbs que eram os nós de uma       /     b   )           /_ > 
antiga rede de computadores. "                                            (       .   \         _(x)_  
                                  _ _ _ _________________________________/             )______  \ "  \  _________§20§____ _ _ _

  </pre>
  
  <p>
    <strong>Baobáxia</strong> é uma arquitetura distribuída, voltada para a integração de redes locais mesmo em localidades nas quais a conexão à internet seja instável, lenta ou ausente. Não basta usar tecnologias de informação já existentes - precisamos moldar o próprio desenvolvimento para que atenda às demandas da sociedade. Adota como princípio básico e metodologia de trabalho os fundamentos do software livre, tanto na gestão das equipes de trabalho, quanto nas soluções tecnológicas que utilizará. Concebido e desenvolvido pela <a href="http://www.mocambos.net">Rede Mocambos</a>
  </p>

  <p>Nosso código é aberto e licenciado pela GNU General Public License; atualmente, o código é versionado usando Git com um <a href="https://github.com/RedeMocambos/baobaxia">repositório no Github</a>.</p>
  
  <p>O Baobáxia é desenvolvido tendo como base o software <a href="http://git-annex.branchable.com/">Git Annex</a>. Deixamos aqui nosso profundo agradecimento e apoio a Joey Hess, desenvolvedor desse maravilhoso software. =)
    <a href="http://git-annex.branchable.com/">
      <img src="images/gitannex.png" alt="GitAnnex"/>
    </a>
  </p>
  <h4>Apoio</h4>
  <p>
    <a href="http://fbb.org.br"><img src="images/fbb.png" alt="Apoio: fundação FBB" /></a>
    <span style="margin-left: 20px">Esse projeto conta com o apoio da Fundação Banco do Brasil.</span>
  </p>
</div>
