<div id="usage-content">
  <div class="usage-bar inline">
    <div class="legend">
      <div class="used inline" style="width: <%=usedPercent %>%">espaço em uso: <%=usedPercent %>%</div>
      <div class="demanded inline">espaço solicitado: <%=demandedPercent %>%</div>
    </div>
    <div class="the-bar">
      <div class="used inline" style="width: <%=usedPercent %>%">&nbsp;</div>
      <div class="demanded inline" style="width: <%=demandedPercent %>%">&nbsp;</div>
    </div>
  </div>
  <div class="total inline">total: <%=total%>GB</div>
</div>
