### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*.pyc

### bbx django ###
tests/django-backbone_0/bbx/database.sqlite
tests/django-backbone_0/bbx/settings.py
