### Emacs ###
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
.\#*

# Org-mode
.org-id-locations
*_archive


### vim ###
.*.s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~
*.pyc

### bbx django ###
app/django-bbx/bbx/database.sqlite
app/django-bbx/bbx/settings.py

### bbx static ###
app/django-bbx/bbx/static/js/config.json
