<div id="media-results-content">
<h3 class="results-title">Resultado:</h3>
<div>
  <% _.each(medias, function(media){ %>
  <div class="media_box">
    <div class="result-thumb type-<%= media.get("type") %>"><div class="play"></div><img src="images/" /></div>
    <span class="title"><%= media.get("name") %></span><br/>
    <span class="date"><%= media.get("date") %></span>
    <span class="format_type"><%= media.get("format") %></span>
    <div class="license-<%= media.get("license") %>"></div>
<!--    <% _.each(media.get("tags"), function(tagName) { %>
    <a href="#"><%= tagName %></a>&nbsp;
    <% }); %> -->
  </div>
  <% }); %>
</div>
</div>
