<div id="media-results-content">
<h3 class="results-title"></h3>
<h4 class="breadcrumb"></h4>
<div>
  <% _.each(medias, function(media){ %>
  <div class="media_box <%= media.get("type") %>">
    <div class="result-thumb"><div class="assist"></div><img src="images/" /></div>
    <a href="#<%= media.get("repository") %>/<%= media.get("origin") %>/media/<%= media.get("uuid") %>">
      <span class="title"><%= media.get("name") %></span>
    </a>
    <br/>
    <span class="date"><%= media.get("date") %></span>
    <span class="format_type"><%= media.get("format") %></span>
    <div class="license-<%= media.get("license") %>"></div>
<!--    <% _.each(media.get("tags"), function(tagName) { %>
    <a href="#"><%= tagName %></a>&nbsp;
    <% }); %> -->
  </div>
  <% }); %>
</div>
</div>
