{% load i18n %}
<div id="buscador">
  <div class="imagem menu-buscador">
    <img id="imagem-busca" src="images/buscar.png" />
  </div>
  <div class="menu-buscador" id="buscador-form">
    <form id="form_buscador" action="">
      <textarea class="caixa_busca" id="caixa_busca" placeholder=""></textarea>
    </form>
  </div>
  <div id="filters-block">
<%
// define lista de filtros
var currentFilter = {},
    typeFilters = ['video', 'audio', 'imagem', 'arquivo'],
    currentUrl = Backbone.history.location.hash;

// css
_.each(typeFilters, function(filterName) {
    if (currentUrl.match(filterName)) {
	currentFilter[filterName] = 'current';
    } else {
	currentFilter[filterName] = '';
    }
});
    %>
    <span class="title">{% trans "Filters" %}</span>

    <a href="<% print(parseFilterLink(currentUrl, typeFilters, 'imagem')) %>" alt="{% trans "image" %}">
      <div class="file-type image <% print(currentFilter['imagem']) %>" title="{% trans "image" %}">&nbsp;</div>
    </a>
    <a href="<% print(parseFilterLink(currentUrl, typeFilters, 'video')) %>" alt="{% trans "video" %}">
      <div class="file-type video <% print(currentFilter['video']) %>" title="{% trans "video" %}">&nbsp;</div>
    </a>
    <a href="<% print(parseFilterLink(currentUrl, typeFilters, 'audio')) %>" alt="{% trans "audio" %}">
      <div class="file-type audio <% print(currentFilter['audio']) %>" title="{% trans "audio" %}">&nbsp;</div>
    </a>
    <a href="<% print(parseFilterLink(currentUrl, typeFilters, 'arquivo')) %>" alt="{% trans "file" %}">
      <div class="file-type arquivo <% print(currentFilter['arquivo']) %>" title="{% trans "file" %}">&nbsp</div>
    </a>
    <div class="separator"></div>
    <div id="is_local" title="{% trans "Is local" %}">&nbsp;</div>
    <div id="is_requested" title="{% trans "Is requested" %}">&nbsp;</div>
    <div class="separator"></div>
    <div id="itens_per_page"><input type="number" name="itens_per_page" value="<% print(getLimit()); %>"> <span>{% trans "per page" %}</span></div>
  </div>
</div>
<div id="header-results">
  <div id="result-string"></div>
  <div id="back-to-results" class="menu-buscador"></div>
</div>
