{% load i18n %}
<div id="buscador">
  <div class="imagem menu-buscador">
    <img id="imagem-busca" src="images/buscar.png" />
  </div>
  <div class="menu-buscador" id="buscador-form">
    <form id="form_buscador" action="">
      <textarea class="caixa_busca" id="caixa_busca"></textarea>
    </form>
  </div>
  <div id="filters-block">
    <%
       var currentFilter = {},
         typeFilters = ['video', 'audio', 'imagem', 'arquivo'],
         currentUrl = Backbone.history.location.hash;

       var parseLink = function(url, typeFilters, type) {
         var urlParse = '',         
           urlFrags = [];

         // completa url caso nao seja 'search'
         if (!url.match('search')) {
           // completa url para caso de 'mocambola'
           if (url.match('mocambola')) {
             url = url.replace('/mocambola', '/bbx/search');
           } else {
             url += '/bbx/search';
           }
         }
         
         _.each(typeFilters, function(t) {
           url = url.replace(t, '');
           url = url.replace('//', '/');
         });
         
         urlFrags = url.split('/search');
         urlParse = urlFrags[0] + '/search/' + type;
         if (urlFrags.length > 1) {
           urlParse += urlFrags[1];
         }
         return urlParse;
       }
       
       // css
       _.each(typeFilters, function(filterName) {
         if (currentUrl.match(filterName)) {
           currentFilter[filterName] = 'current';
         } else {
           currentFilter[filterName] = '';
         }
       });

       %>
    <a href="<% print(parseLink(currentUrl, typeFilters, 'imagem')) %>" alt="{% trans "image" %}">
      <div class="file-type image <% print(currentFilter['imagem']) %>">&nbsp;</div>
    </a>
    <a href="<% print(parseLink(currentUrl, typeFilters, 'video')) %>" alt="{% trans "video" %}">
      <div class="file-type video <% print(currentFilter['video']) %>">&nbsp;</div>
    </a>
    <a href="<% print(parseLink(currentUrl, typeFilters, 'audio')) %>" alt="{% trans "audio" %}">
      <div class="file-type audio <% print(currentFilter['audio']) %>">&nbsp;</div>
    </a>
    <a href="<% print(parseLink(currentUrl, typeFilters, 'arquivo')) %>" alt="{% trans "file" %}">
      <div class="file-type arquivo <% print(currentFilter['arquivo']) %>">&nbsp</div>
    </a>
  </div>
  <div id="search-options">
    <span>
      <input type="checkbox" name="is_local" id="is_local"> {% trans "Is local" %}
    </span>
    <span>
      <input type="checkbox" name="is_requested" id="is_requested"> {% trans "Is requested" %}
    </span>
  </div>
</div> 
<div id="header-results">
  <div id="result-string"></div>
  <div id="back-to-results" class="menu-buscador"></div>
  <div id="medias-length"></div>
</div>
