{% load i18n %}
<div id="header-top">
   <div id="header-image"><a id="logo-baobaxia" href="<%= homeUrl %>"><img src="images/logo-baobaxia.png" border="0"></a></div>
  <p class="posicoes">{% trans "Header" %}</p>
  <div id="title-mucua">
  </div>
</div>
<div id="header-bottom">
  <div class="media-display-type">
    <a alt="{% trans 'shuffle' %}"><div class="shuffle"></div></a>
    <a alt="{% trans 'view as grid' %}"><div class="grid"></div></a>
    <a alt="{% trans 'view as list' %}"><div class="list"></div></a>
    <% if (isLogged()) {
         if (isEditable) {
       %>
    <a href="<%= BBX.config.interfaceUrl %><%= BBX.config.repository %>/<%= BBX.config.mucua %>/media/gallery/<% 
print(BBX.tags.join('/'));
var url = Backbone.history.location.href,
    limit = (url.match('limit')) ? '/limit/' + url.split('/limit/')[1] : '';
    url = url.split('/limit')[0];
    var orderby = (url.match('orderby')) ? '/orderby/' + url.split('/orderby/')[1] : '';

print(orderby + limit); 
    %>/edit" alt="{% trans 'Multiple edit' %}"><div class="multiple-edit"></div></a>
    <%   }
       } %>
    
  </div>
</div>
