{% load i18n %}
<%
   if (config.subroute.match('limit')) {
   config.subroute = config.subroute.split('/limit')[0];
   }
   %>
<div id="menu">
  <p class="posicoes">{% trans "Menu" %}</p>
  <ul class="menu-itens">

    <!-- rede -->
    <% var matches = currentUrl.match(/\w+\/([a-zA-Z0-9\-]*)/); if (currentUrl.match(/rede/) || config.mucua === 'rede') {%>
    <li class="rede current">
      <div class="esq"></div>
      <div class="link">
	<a href="#<%= config.repository %>/rede/<%= config.subroute %>">
	  <div>{% trans "rede" %}</div>
	</a>
        </div>
      <div class="dir"></div>
    </li>
    <% } else {%>
    <li class="rede">    
      <a href="#<%= config.MYREPOSITORY %>/rede/<%= config.subroute %>">
	  <div>{% trans "rede" %}</div>
    </li>
    <% } %>
    <!-- mucuas -->    
    <% matches = currentUrl.match(/\w+\/([a-zA-Z0-9\-]*)/);
       if ((matches[1] === config.MYMUCUA) || (!currentUrl.match(/rede/) && config.mucua != config.MYMUCUA && config.mucua != 'rede')) { %>
    <li class="mucua current">
      <div class="esq"></div>
      <div class="link"><a href="#<%= config.repository %>/<%= config.mucua %>/<%= config.subroute %>"><%= config.mucua %></a></div>
      <div class="dir"></div>
    </li>
    <% } else { %>
    <li class="mucua">    
      <a href="#<%= config.MYREPOSITORY %>/<%= config.MYMUCUA %>/<%= config.subroute %>"><%= config.MYMUCUA %></a>
    </li>
    <% } %>
    <% _.each(lastVisitedMucuas, function(mucuaName, i) {
       i += 1;
       %>
    <% if ((mucuaName != config.mucua) && (i <= 3)) { %>
    <li class="mucua recent-<%= i %>"><a href="#<%= config.repository %>/<%= mucuaName %>/<%= config.subroute %>"><%= mucuaName %></a></li>
    <% } %>
    <% }) %>
  </ul>
</div>
