{% load i18n %}
<div>
  <h5><%= '{% trans "mucua" %}'.toUpperCase() %></h5>
  <h3>
    <a href="<% print(BBX.config.interfaceUrl + BBX.config.repository + '/' + mucua.description) %>"><%=mucua.description%></a>
  </h3>
</div>
<div>
  <img alt="<%= mucua.description %>" id="mucua_image" src="<%=mucua.image %>" />
</div>

<div>
  <p><%=mucua.note%></p>
</div>
<% if (mucua.url !== '') { %>
<div class="link">
  <p><a href="<%=mucua.url %>"><%=mucua.url%></a></p>
</div>
<% } %>
<% if ((mucua.description === BBX.config.MYMUCUA) || (config.mucua.toLowerCase() === 'rede')) { %>
<div class="storage bold">
  <p><%= '{% trans "Collection:" %}'.toLowerCase() %> <%=mucua.storageSize%> <%= usedByAnnexUnit %></p>
</div>
<% } %>
<!--<div class="more-info"><a href="">{% trans "more info" %}</a></div>-->
