{% load i18n %}
<div class="sobre-content">
  
  <h3>{% trans "About Baobaxia" %}</h3>
  <pre>{% trans "About baobaxia page text part 1" %}
  </pre>
  
  <p>
    {% trans "About baobaxia page text part 2" %}
  </p>

  <p>
    {% trans "About baobaxia page text part 3" %}
  </p>
  <p>
    {% trans "About baobaxia page text part 4" %}
    <a href="http://git-annex.branchable.com/">
      <img src="images/gitannex.png" alt="GitAnnex"/>
    </a>
  </p>
  <h4>{% trans "Support" %}</h4>
  <p>
    <a href="http://fbb.org.br"><img src="images/fbb.png" alt="{% trans "Support: FBB Foundation" %}" /></a>
    <span style="margin-left: 20px">{% trans "This project has the Banco do Brasil Foundation Support." %}</span>
  </p>
</div>
