<!-- left -->
<div class="left">
  <div></div>
</div>
<!-- end left -->

<!-- middle -->
<div class="middle">
  <div>
    <img src="images/logo-fundo-bco.png"><br/>
  </div>
</div>
<!-- end middle -->

<!-- right -->
<div class="right">
  <div id="form_login">
    <form method="post">
      <input type="hidden" name="csrfmiddlewaretoken" id="csrfmiddlewaretoken" value="" />
      <div class="first-line">
	<div id="mocambola-area">
	  <p>Mocambola</p>
	  <input type="text" name="mocambola" id="mocambola" /><img src="images/arroba.png"/>
	</div>
	<div id="mucua-area">
	  <p>Mucua</p>
	  <select name="mucua" id="mucua">
	    <% _.each(mucuaList, function(mucua) { %>
	    <option name="<%=mucua.description %>"><%=mucua.description %></option>
	    <% }) %>
	  </select>
	  </select><img src="images/ponto.png"/>
	</div>
	<div id="repositorio-area">
	  <p>Repositório</p>
	  <select name="repository" id="repository">
	    <% _.each(repositoryList, function(repository) { %>
	    <option name="<%=repository.name %>"><%=repository.name %></option>
	    <% }) %>
	  </select><img src="images/ponto.png"/><span>net</span>
	</div>
      </div>
      <div class="second-line">
	<div id="pass-area">
	  <p>Senha</p>
	  <input type="password" name="password" id="password" /> &nbsp; <input type="button" value="ok" class="submit"><br/>
	  <p><a href="#esqueci_a_senha">Perdi a senha</a></p>
	  <p><a href="#registrar">Registrar-se</a><p/>
	</div>
      </div>
    </form>
    </div>
  </div>
<!-- end right -->
