<div id="content-top">
  <!-- left -->
  <div class="left">
    <div></div>
  </div>
  <!-- end left -->
  
  <!-- middle -->
  <div class="middle">
    <div>
      <img src="images/logo.png"><br/>
    </div>
  </div>
  <!-- end middle -->

  <!-- right -->
  <div class="right">
    <div id="form_login">
      <h3 class="title">Registrando novo/a usuário/a</h3> 
      <ul id="message-area"></ul>
      <form method="post">
	<div class="first-line">
	  <div id="mocambola-area">
	    <p>Login do/a Mocambola</p>
	    <input type="text" name="mocambola" id="mocambola" />
	  </div>
	  <div id="mucua-area">
	    <p>Selecione sua Mucua</p>
	    <select name="mucua" id="mucua">
	      <% _.each(_.sortBy(mucuaList, 'description'), function(mucua) { %>
	      <option name="<%=mucua.description %>"><%=mucua.description %></option>
	      <% }) %>
	    </select>
	  </div>
	  <div id="repositorio-area">
	    <p>Repositório</p>
	    <select name="repository" id="repository">
	      <% _.each(repositoryList, function(repository) { %>
	      <option name="<%=repository.name %>"><%=repository.name %></option>
	      <% }) %>
	    </select><img src="images/ponto.png"/><span>net</span>
	  </div>
	</div>
	<div class="second-line">
	  <div id="message-area"></div>
	  <div id="pass-area">
	    <p>Senha</p>
	    <input type="password" name="password" id="password" />
	    <p>Digite novamente a senha</p>
	    <input type="password" name="password2" id="password2" /> &nbsp; <input type="button" value="registrar" class="submit"><br/>
	  </div>
	</div>
      </form>
    </div>
  </div>
  <!-- end right -->
</div>
