/*
 arquivo de css geral
*/

/*
 * base
 */
html { font-family: sans-serif}
body {margin: 0; padding: 0}
#container {width: 100%; height: 87px; margin: auto; background-color: #d5c590; height: 100%}
#header {background: #fff url('../images/cabecalho-meio.png') repeat-x left top; }
#cabecalho .esq {background-image: url('../images/cabecalho-esq.png'); width: 164px; height: 87px; float: left; }
#cabecalho .dir {background-image: url('../images/cabecalho-dir.png'); width: 725px; height: 87px; float: right; } /*TODO: fix quando redimensiona para tela pequena (celular) */
#content {min-height: 400px}
#footer {clear: both; background: #ddd}

/*
 * header
 */
#cabecalho {height: 150px;}
#cabecalho img { margin-top: 25px; margin-left: 100px; float: left}
#title-mucua { color: #f4c00a; float: left; margin-top: 70px; margin-left: 20px}

.posicoes {display: none}
h3 #nome_mucua { color: #e33; }

/*
 * media & busca
 */
h3.results-title { color: #fff; padding-left: 20p}
.media_box { float: left; width: 192px; height: 170px; background: #f4efdd; margin: 5px; font-size: 12px; border-radius: 5px; padding: 10px; text-align: center}
.format_type { color: #aaa; text-transform: uppercase }
.video .result-thumb { width: 192px; height: 130px; background: #c99 }
.audio .result-thumb { width: 192px; height: 130px; background: #99c }
.imagem .result-thumb { width: 192px; height: 130px; background: #cc9 }
.arquivo .result-thumb { width: 192px; height: 130px; background: #9c9 }
.media_box .date {font-size: 10px }
.video .result-thumb .assist {background-image: url('../images/play.png'); background-repeat: no-repeat; width: 79px; height: 79px; float: left; margin: 26px; margin-left: 58px}
.audio .result-thumb .assist {}
.media_box .title { font-size: 14px }
.media_box .format_type {padding: 6px; font-size: 12px}
.media_box .license-cc {background-image: url('../images/cc.png'); width: 20px; height: 20px; float: right; margin: 2px }

.caixa_busca { border: 2px solid #a59560; border-radius: 8px; }
#busca-menu .button {float: right;  background-image: url('../images/search.png'); width: 27px; height: 27px; cursor: pointer }

#menu {margin-left: 175px; margin-top: -35px;}
.menu-itens li {display: inline-block; border-radius: 8px; background-color: #d5c590; border: 2px solid #fff; color: #fff; font-size: 18px; font-weight: bold; padding: 4px; margin: 4px;}
.menu-itens li a {color: #fff; text-decoration: none; }

#media-view .bloco-1, #mocambola-view .bloco-1 {width: 630px; float: left; padding: 4px; margin-left: 20px}
#media-view .bloco-2, #mocambola-view .bloco-2 {width: 280px; float: left; padding: 4px}

#media-view .bloco-1 .title {font-weight: bold; font-size: 20px}
#media-view .bloco-1 .tags a {font-weight: bold; font-size: 18px; color: #900; text-decoration: none}
#media-view .bloco-2 .title, #mocambola-view .bloco-2 .title {font-weight: bold}
#media-view .bloco-1 .uuid {font-size: 10px}

.caixa-resultado-busca {background-color: #eeffaa; padding: 2px; }
.caixa-resultado-busca .nome-termo {margin: 12px; }
.caixa-resultado-busca a {background-color: #cdde87; padding: 4px; text-decoration: none; font-weight: bold }
.adicionar-termo {font-size: 16px; font-weight: bold; cursor: pointer}
.remover-termo {font-size: 16px; font-weight: bold; cursor: pointer}
#resultado-busca .caixa_busca {}
#media-results-content h4.message {padding: 10px; color: #900}

/*
 * media publish
 */
#media_publish {padding: 10px}
#media_publish #uuid {color:#999 }
#media_publish #arquivo_passo2, #media_publish #dia_hora, #media_publish #dados_gerais, #media_publish #tags_area, #media_publish #uuid_area {display: none}

/* form progress meter */
.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }