/*
 arquivo de css geral
*/

/*
 * base
 */
html { font-family: sans-serif}
body {margin: 0; padding: 0; background-color: #D5C590}
#container {width: 100%; height: 87px; margin: auto; background-color: #d5c590; height: 100%}
#header {background: #fff url('../images/cabecalho-meio.png') repeat-x left top; }
#cabecalho .esq {background-image: url('../images/cabecalho-esq.png'); width: 164px; height: 87px; float: left; }
#cabecalho .dir {background-image: url('../images/cabecalho-dir.png'); width: 725px; height: 87px; float: right; } /*TODO: fix quando redimensiona para tela pequena (celular) */
#content {min-height: 400px}
#footer {clear: both; background: #ddd}

/*
 * header
 */
#cabecalho {height: 150px;}
#cabecalho img { margin-top: 25px; margin-left: 100px; float: left}
#title-mucua { color: #f4c00a; float: left; margin-top: 70px; margin-left: 20px; font-size: 14px}

.posicoes {display: none}
h3 #nome_mucua { color: #e33; }

/*
 * login
 */
.login #header {background-image: url('../images/login-home-header.png');background-size: 100% auto; height: 400px; margin-top: -100px }
.login #content  { height: 400px; background: url('../images/home-login-content.png') no-repeat; background-size: 100% auto;}
.login #content .left {width:45%; float: left; height: 400px}
.login #content .middle {width:15%; float: left; height: 400px; }
.login #content .right {width:40%; float: left; height: 400px; font-size: 13px; }
.login #content .right #form_login .first-line div {float: left; }
.login #content .right #form_login p,
.login #content .right #form_login a {color: #2f7f37; font-weight: bold; margin: 6px; margin-bottom:0; text-decoration: none}
.login #content .right #form_login .second-line p {color: #d1c188 }
.login #content .right #form_login .second-line input {border: #d1c188 solid 1px }
.login #content .right #form_login .second-line a {color: #a4945c }
.login #content .right #form_login img {vertical-align: bottom; margin: 2px}
.login #content .right #form_login .second-line div {clear: both; color: #2f7f37; font-weight: bold }
.login #content .right #form_login input,
.login #content .right #form_login select {border: #81bc5f solid 1px; border-radius: 4px; font-size: 10px; width: 100px; margin: 5px }

/*
 * media view, edit & publish
 */
#media_publish, #media_update, #media_view {font-size: 12px}
#media_publish, #media_update, #media_view .title {font-size: 14px}
h3.results-title { color: #fff; padding-left: 20px}
.media_box { float: left; width: 192px; height: 170px; background: #f4efdd; margin: 5px; font-size: 12px; border-radius: 5px; padding: 10px; text-align: center}
.format_type { color: #aaa; text-transform: uppercase }
.video .result-thumb { width: 192px; height: 130px; background: #c99 }
.audio .result-thumb { width: 192px; height: 130px; background: #99c }
.imagem .result-thumb { width: 192px; height: 130px; background: #cc9 }
.arquivo .result-thumb { width: 192px; height: 130px; background: #9c9 }
.media_box .date {font-size: 10px }
.video .result-thumb .assist {background-image: url('../images/play.png'); background-repeat: no-repeat; width: 79px; height: 79px; float: left; margin: 26px; margin-left: 58px}
.audio .result-thumb .assist {}
.media_box .title {font-size: 12px }
.media_box .format_type {padding: 6px; font-size: 12px}
.media_box .origin {font-size: 10px; color: #aaa; padding-right: 10px }
#media_publish .button-nav, #media_update .button-nav {cursor: pointer; font-size: 16px; background-color: #B5A570; text-align: center; width: 150px; float: right; padding: 8px; border-radius: 4px; border: 2px solid #958555; margin: 2px }
#media_publish .button-nav:hover, #media_update .button-nav:hover {background-color: #E5D5A0; }

#license {font-size: 11px}
#license_image {width: 88px; height: 31px; float: right; margin: 2px }
.license-gplv3 {background: url('../images/license-gplv3.png') no-repeat;}
.license-gfdl {background: url('../images/license-gfdl.png') no-repeat;}
.license-lgplv3 {background: url('../images/license-lgplv3.png') no-repeat;}
.license-agplv3 {background: url('../images/license-agplv3.png') no-repeat;}
.license-copyleft {background: url('../images/license-copyleft.png') no-repeat;}
.license-cc {background: url('../images/license-cc.png') no-repeat;}
.license-cc_nc {background: url('../images/license-cc_nc.png') no-repeat;}
.license-cc_ci {background: url('../images/license-cc_ci.png') no-repeat;}
.license-cc_ci_nc {background: url('../images/license-cc_ci_nc.png') no-repeat;}
.license-cc_sd {background: url('../images/license-cc_sd.png') no-repeat;}
.license-cc_sd_nc {background: url('../images/license-cc_sd_nc.png') no-repeat;}
.mediafile a {font-size:9px }

#media-view .bloco-1, #media-update .bloco-1, #mocambola-view .bloco-1 {width: 630px; float: left; padding: 4px; margin-left: 20px}
#media-view .bloco-2, #media-update .bloco-2, #mocambola-view .bloco-2 {width: 380px; float: left; padding: 4px; margin-left: 20px}
.bloco-1 .title {font-weight: bold; font-size: 16px}
.bloco-1 .name {font-weight: bold; font-size: 16px}
.bloco-1 .tags a {font-weight: bold; font-size: 16px; color: #900; text-decoration: none}
.bloco-2 .title, #mocambola-view .bloco-2 .title {font-weight: bold}
.bloco-1 .uuid {font-size: 10px}
.edit .bloco-1 input[type=text] {width: 500px; float: right}
.edit .bloco-2 input[type=text] {width: 350px; float: right}
div.image_preview {height: 130px; background: url(../images/no-preview-video.png) no-repeat center center; text-align: center; padding-top: 10px}
.image_preview span {font-size:28px; color: #fff; }
.edit #note {width: 375px; height: 75px}

.modo-edicao {background-color: #a59560; padding: 4px; border-radius: 4px; border: 2px solid #958555; margin: 2px }
.modo-edicao .title {font-size: 20px; font-weight: bold}

/* media publish */
#media_publish {}
#media_publish #uuid {color:#999 }
#media_publish #arquivo_passo2, #media_publish #dia_hora, #media_publish #dados_gerais, #media_publish #tags_area, #media_publish #uuid_area {display: none}
#media_publish h4 {margin-top: 10px; margin-bottom: 10px}
#media_publish #dados_gerais,
#media_publish #dia_hora, 
#media_publish #dados_gerais, 
#media_publish #tags_area, 
#media_publish #uuid_area { float: left; width: 50% }

/* form progress meter */
.progress { position:relative; width:400px; border: 1px solid #ddd; padding: 1px; border-radius: 3px; }
.bar { background-color: #B4F5B4; width:0%; height:20px; border-radius: 3px; }
.percent { position:absolute; display:inline-block; top:3px; left:48%; }

/*
 * busca / resultados
 */

.caixa_busca { border: 2px solid #a59560; border-radius: 8px; }
#busca-menu .button {float: right;  background-image: url('../images/search.png'); width: 27px; height: 27px; cursor: pointer }

#menu {margin-left: 175px; margin-top: -35px;}
.menu-itens li {display: inline-block; border-radius: 8px; background-color: #d5c590; border: 2px solid #fff; color: #fff; font-size: 18px; font-weight: bold; padding: 4px; margin: 4px;}
.menu-itens li a {color: #fff; text-decoration: none; }
.caixa-resultado-busca {background-color: #eeffaa; padding: 2px; }
.caixa-resultado-busca .nome-termo {margin: 12px; display:inline }
.caixa-resultado-busca a {background-color: #cdde87; padding: 4px; text-decoration: none; font-weight: bold }
.adicionar-termo {font-size: 16px; font-weight: bold; cursor: pointer}
.remover-termo {font-size: 16px; font-weight: bold; cursor: pointer}
#resultado-busca .caixa_busca {}
#media-results-content h4.message {padding: 10px; color: #900}