<table>
  <thead>
    <tr>
      <td class="name"><a>nome<br/><div class="orderby_asc"></div></a></td>
      <td class="author"><a>autor<br/><div class="orderby_asc"></div></a></td>
      <td class="format"><a>formato<br/><div class="orderby_asc"></div></a></td>
      <td class="origin"><a>origem<br/><div class="orderby_asc"></div></a></td>
      <td class="date"><a>data<br/><div class="orderby_asc"></div></a></td>
      <td class="license"><a>licença<br/><div class="orderby_asc"></div></a></td>
      <td class="type"><a>tipo<br/><div class="orderby_asc"></div></a></td>
      <td class="num_copies"><a>cópias<br/><div class="orderby_asc"></div></a></td>
      <td class="is_local"><a>cópia local?<br/><div class="orderby_asc"></div></a></td>
    </tr>
  </thead>
  <tbody>
    <% _.each(medias, function(media) { %>
    <tr class="media-line">
      <td class="title">
	<a href="#<%= media.repository %>/<%= media.origin %>/media/<%= media.uuid %>">
	  <span><%= media.name %></span>
	</a>
      </td>
      <td class="author">
	<span><a href="<% print('#' + media.repository + '/' + media.origin + '/mocambola/' + media.author) %>"><%= media.author.split('@')[0] %></a></span>
      </td>
      <td class="format_type">
	<span><%= media.format %></span>
      </td>
      <td class="origin">
	<span><a href="<% print('#' + media.repository + '/' + media.origin) %>"><%= media.origin %></a></span>
      </td>
      <td class="date">
	<span><%= formatDate(media.date) %></span>
      </td>
      <td class="license">
	<span><%= media.license %></span>
      </td>
      <td class="type">
	<img alt="<%= media.type%>" src="images/icon-<%= media.type %>.png" />
      </td>
      <td class="num_copies">
	<span><%= media.num_copies %></span>
      </td>
      <td class="is_local">
	  <% if(media.is_local) { %>
	  <span class="local">sim</span>	  
	  <% } else { %>
	  <span class="not_local">não</span>	  
	  <% } %>
	</span>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<h5 style="text-align: center">
  <a href="<%= Backbone.history.location.href %>/limit/1000">ver todos</a>
</h5>
<% if (_.isEmpty(medias)) { %>
<h4 class="message"><%= message %></h4>
<% } %>
