<div id="media-view">

  <div class="block-1">
    <div class="media-image">
      <% if (media.type == 'image') { %>
      <img src="<%= media.media_file.replace('/data/bbx/', 'images/') %>" />
<% } else { %>
      <img src="images/imagem-exemplo.png" />
      <% } %>
    </div>
    <p class="title-bold"><%= media.name %></p>
    
    <p class="tags">
      <% _.each(media.tags, function(tagName) { %>
      <a href="<% print('#' + media.repository + '/' + media.origin +  '/bbx/search/' + tagName) %>"><%= tagName %></a>&nbsp;
      <% }); %>
    </p>
    <p class="uuid">UUID<%= media.uuid %></p>
  </div>
  
  <div class="block-2">
    <div class="block-title">
      <p>Por</p>
      <p>Data</p>
      <p>Mucua</p>
      <p>Formato</p>
      <p>Tamanho</p>
      <p>Licença</p>
    </div>
    <div class="block-fields">
      <p><a href='<% print('#/mocambola/' + media.author) %>'><%= media.author.substring(0, 17) + '...' %></a></p>
      <p><%= formatDate(media.date) %></p>
      <p><%= media.origin %></p>
      <p><%= media.format %></p>
      <p>0GB</p>
      <p><div class="license-image license-<%= media.license %>"></div></p>      
    </div>
    <div class="blocks">
      <p class="text"><%= media.note %></p>
    </div>
    <div class="blocks">
      <p class="quem-tem">
	<span class="title-bold">quem tem esse arquivo?: </span>
      </p>
    </div>
    <div class="blocks">
      <p class="solicit-copy">
	<span class="title-bold">solicitar cópia local</span>
	<span class="image"></span>
      </p>
    </div>
    
  </div>
</div>
<!-- <a href="edit">editar</a>-->
