<table>
  <thead>
    <tr>
      <td class="title">nome</td>
      <td class="author">autor</td>
      <td class="format_type">formato</td>
      <td class="origin">origem</td>
      <td class="date">data</td>
      <td class="license">licença</td>
      <td class="type">tipo</td>
    </tr>
  </thead>
  <tbody>
    <% _.each(medias, function(media) { %>
    <tr class="media-line">
      <td class="title">
	<a href="#<%= media.repository %>/<%= media.origin %>/media/<%= media.uuid %>">
	  <span><%= media.name %></span>
	</a>
      </td>
      <td class="author">
	<span><a href="<% print('#' + media.repository + '/' + media.origin + '/mocambola/' + media.author) %>"><%= media.author.split('@')[0] %></a></span>
      </td>
      <td class="format_type">
	<span><%= media.format %></span>
      </td>
      <td class="origin">
	<span><a href="<% print('#' + media.repository + '/' + media.origin) %>"><%= media.origin %></a></span>
      </td>
      <td class="date">
	<span><%= formatDate(media.date) %></span>
      </td>
      <td class="license">
	<span><%= media.license %></span>
      </td>
      <td class="type">
	<div class="icon-type icon-<%= media.type %>"></div>
      </td>
      <td class="is_requested">
	<span>
	  <% if(media.is_requested) { %>
	  requested
	  <% } %>
	</span>
      </td>
    </tr>
    <% }) %>
  </tbody>
</table>
<% if (_.isEmpty(medias)) { %>
<h4 class="message"><%= message %></h4>
<% } %>
