<div id="mocambola-view">
  <div class="bloco-1">
    Aqui podem ser listados os arquivos, tags etc de conteúdos desse username
  </div>
  <div class="bloco-2">
    <p class="username"><span class="title">Username: </span><%= mocambola.get("username") %></p>
    <p class="firstname"><span class="title">Nome: </span><%= mocambola.get("firstname") %></p>
    <p class="lastname"><span class="title">Sobrenome: </span><%= mocambola.get("lastname") %></p>
    <p class="email"><span class="title">E-mail: </span><%= mocambola.get("email") %></p>
    <br/>
    <p class="repositorio"><span class="title">Repositório de origem: </span><%= repository %></p>
    <p class="mucua"><span class="title">Mucua de origem: </span><%= mucua %></p>
    <br/>
  </div>
</div>

