<h1>Página inicial</h1>

<div class="main">Ato - Da Copa eu abro mão: quero dinheiro pra saúde, transporte, moradia e educação

Na próxima quarta-feira (03/07), organizações sindicais, estudantis, populares e políticas convocam uma manifestação para percorrer a avenida Paulista desde a praça Oswaldo Cruz a partir das 17h.

O recado é claro: o povo precisa de sistemas de saúde, educação e transporte público gratuitos e de qualidade, precisa ter direito à moradia, e da Copa do Mundo pode até abrir mão. E não aceitaremos nenhum passo a mais na crescente repressão aos movimentos sociais e à política de extermínio da população pobre nas periferias! Por isso, nossa marcha exige também a desmilitarização das polícias!</div>
