{% load i18n %}
<tr>
  
  <!-- thumb -->
  <td class="thumb">
    <% if (media.type === 'imagem') { %>
    <a href="<%= media.url %>" class="media-image-container">
      <img id="media-<%= media.uuid %>" class="image-tmp" src="images/icon-imagem.png" />
      <% parseThumb(media, params); %>
    </a>
    <% } else if (media.type == 'video') { %>
    <video controls src="<%= media.url %>" width="130" />
    <% } else if (media.type == 'audio') { %>
    <audio controls src="<%= media.url %>" width="130" />
    <% } else if (media.type ='arquivo') { %>
    <a href="<%= media.url %>" class="download">download</a>
    <% } %>
  </td>
  
  <!-- name -->
  <td class="info">
    <input type="hidden" name="repository-<%= media.uuid %>" value="<%= media.repository %>" class="<%= media.uuid %>" />
    <input type="hidden" name="origin-<%= media.uuid %>" value="<%= media.origin %>" class="<%= media.uuid %>" />
    <input type="hidden" name="format-<%= media.uuid %>" value="<%= media.format %>" class="<%= media.uuid %>">
    <input type="hidden" name="type-<%= media.uuid %>" value="<%= media.type %>" class="<%= media.uuid %>">
    <input type="hidden" name="author-<%= media.uuid %>" value="<%= media.author %>" class="<%= media.uuid %>">
    <input type="hidden" name="uuid-<%= media.uuid %>" value="<%= media.uuid %>" class="<%= media.uuid %> uuid" />
    <input type="hidden" name="note-<%= media.uuid %>" value="<%= media.note %>" class="<%= media.uuid %>" />
    <input type="hidden" name="media_file-<%= media.uuid %>" value="<%= media.media_file %>" class="<%= media.media_file %> <%= media.uuid %>" />
    
    <input placeholder="{% trans "Title" %}" type="text" name="name-<%= media.uuid %>" value="<%= media.name %>" class="name <%= media.uuid %>" /><br/>
    <input placeholder="{% trans "Date" %}" type="text" name="date-<%= media.uuid %>" class="date <%= media.uuid %>" value="<%= media.date %>"/><br/>
      <select name="license-<%= media.uuid %>" class="license <%= media.uuid %>">
	<% _.each(licenses, function(value, key) { %>
	<option value="<%= key %>" <% if (media.license == key) { %>selected<% } %>><%= value %></option>
	<% }) %>
	</select>  
  </td>

  <!-- date 
  <td class="date">
    <input type="text" name="date-<%= media.uuid %>" class="date <%= media.uuid %>" value="<%= media.date %>"/>
  </td>

  <!-- license - ->
  <td class="license">
    <div class="license">
      <select name="license-<%= media.uuid %>" class="license <%= media.uuid %>">
	<% _.each(licenses, function(value, key) { %>
	<option value="<%= key %>" <% if (media.license == key) { %>selected<% } %>><%= value %></option>
	<% }) %>
	</select>
  </td> -->

  <!-- tags -->  
  <td class="tags">
    <textarea placeholder="{% trans "Tags" %}" name="tags-<%= media.uuid %>" class="tags <%= media.uuid %>"><% _.each(media.tags, function(tagName) { %><%= tagName %>, <% }); %></textarea>
  </td>

  <!-- note -->
  <td class="note">
    <textarea placeholder="{% trans "Description" %}" name="note-<%= media.uuid %>" class="note <%= media.uuid %>" %><%= media.note %></textarea>
  </td>
  
  <td class="operations">
    <a alt="{% trans 'Update media' %}"><div class="save-media-item" id="uuid-<%= media.uuid %>"></div></a><br/>
    <a href="<%= '#' + media.repository + '/' + media.origin +  '/media/' + media.uuid %>/edit" alt="{% trans 'Edit media' %}">
      <div class="link-edit-media">&nbsp;</div>
    </a>
  </td>
</tr>
     
