{% load i18n %}
<!-- begin of media-gallery-create -->
<div id="media-gallery-create">
  <h3>{% trans "Create new gallery" %}</h3>
  <form action="" method="post" enctype="multipart/form-data" id="fileupload">  
    <!-- begin of media-gallery -->    
    <div id="media-gallery-form" class="edit">  

      <!-- gallery name -->
      <div>
	<input type="hidden" name="repository" id="repository" value="<%= media.repository %>">
	<input type="hidden" name="author" id="author" value="<%= media.author %>">
	<input type="hidden" name="format" id="format" value="<%= media.format %>">
	<input type="hidden" name="uuid" id="uuid" value="<%= media.uuid %>">
	<input type="hidden" name="date" id="date" value="<%= media.date %>"/>
	<input type="hidden" name="note" id="note" value="<%= media.note %>"/>
	<input type="hidden" name="type" id="type" value="<%= media.type %>"/>

	<span class="title">{% trans "Origin" %}</span></br>
	<select name="origin" id="origin">
	  <option value="" selected></option>
	</select><br/>
	
	<span>{% trans "Gallery name (tags)" %}</span><br/>
	<textarea name="tags" id="tags"></textarea><br/>
      </div>

      <!-- description -->
      <div class="description">
	<span class="title">{% trans "Description:" %}</span><br/>
	<textarea name="note" id="note"></textarea>
      </div>
      
      <!-- license -->
      <div class="license"><span class="title">{% trans "License" %}</span><br/>
	<select name="license" id="license">
	  <% _.each(licenses, function(value, key) { %>
	  <option value="<%= key %>" <% if (media.license == key) { %>selected<% } %>><%= value %></option>
	  <% }) %>
	</select>
      </div>

      <div id="license_image" class="license-<%= media.license %>"></div>

      <!-- file type -->
      <div class="type"><span class="title">{% trans "Select file type to start upload" %}</span><br/>
	<select name="type" id="media_type" <% if (page == 'MediaUpdate') { %>disabled<% } %>>
	  <option></option>
	    <% _.each(types, function(value, key) { %>
	    <option value="<%= key %>" <% if (media.type == key) { %>selected<% } %>><%= value %></option>
	    <% }) %>
	  </select>
      </div>

      <!-- file upload -->      
      <div id="media_file_input" class="file-upload">
	<input id="media_file" type="file" name="media_file" multiple>

	<br/>
	<div id="#progress">
	  <div class="bar"></div>
	</div>
      </div>

      <div id="messages">
      </div>
      
    </div>
    <!-- end of media-gallery-form -->
  </form>
  
</div>
<!-- end of media-gallery-create -->
