{% load i18n %}
<!-- selecionador de colunas de dados -->
<div id="menu-colunas">
  <div class="button">
    <h4>{% trans "Select columns..." %}</h4>
  </div>
  <ul class="checkboxes">
    <li class="name"><input type="checkbox" name="name">{% trans "name" %}</li>
    <li class="author"><input type="checkbox" name="author">{% trans "author" %}</li>
    <li class="format"><input type="checkbox" name="format">{% trans "format" %}</li>
    <li class="origin"><input type="checkbox" name="origin">{% trans "origin" %}</li>
    <li class="date"><input type="checkbox" name="date">{% trans "date" %}</li>
    <li class="license"><input type="checkbox" name="license">{% trans "license" %}</li>
    <li class="type"><input type="checkbox" name="type">{% trans "type" %}</li>
    <li class="num_copies"><input type="checkbox" name="num_copies">{% trans "copies" %}</li>
    <li class="is_local"><input type="checkbox" name="is_local">{% trans "is local" %}</li>
    <li class="status"><input type="checkbox" name="status">{% trans "status" %}</li>
    <li class="note"><input type="checkbox" name="note">{% trans "description" %}</li>
    <li class="tags"><input type="checkbox" name="tags">{% trans "tags" %}</li>
  </ul>
</div>

<!-- tabela de dados -->
<div class="table-list">
<table>
  <thead>
    <tr>
      <td class="name"><a>{% trans "name" %}<br/><div class="orderby_asc"></div></a></td>
      <td class="author"><a>{% trans "author" %}<br/><div class="orderby_asc"></div></a></td>
      <td class="format"><a>{% trans "format" %}<br/><div class="orderby_asc"></div></a></td>
      <td class="origin"><a>{% trans "origin" %}<br/><div class="orderby_asc"></div></a></td>
      <td class="date"><a>{% trans "date" %}<br/><div class="orderby_asc"></div></a></td>
      <td class="license"><a>{% trans "license" %}<br/><div class="orderby_asc"></div></a></td>
      <td class="type"><a>{% trans "type" %}<br/><div class="orderby_asc"></div></a></td>
      <td class="num_copies"><a>{% trans "copies" %}<br/><div class="orderby_asc"></div></a></td>
      <td class="is_local"><a>{% trans "is local?" %}<br/><div class="orderby_asc"></div></a></td>
      <td class="status"><a>{% trans "status" %}<br/><div class="orderby_asc"></div></a></td>
      <td class="note"><a>{% trans "description" %}<br/><div class="orderby_asc"></div></a></td>
      <td class="tags"><a>{% trans "tags" %}<br/><div class="orderby_asc"></div></a></td>
    </tr>
  </thead>
  <tbody>
    <% _.each(medias, function(media) { %>
    <tr class="media-line">
      <td class="name">
	<a href="#<%= media.repository %>/<%= media.origin %>/media/<%= media.uuid %>">
	  <span><%= media.name %></span>
	</a>
      </td>
      <td class="author">
	<span><a href="<% print('#' + media.repository + '/' + media.origin + '/mocambola/' + media.author) %>"><%= media.author.split('@')[0] %></a></span>
      </td>
      <td class="format">
	<span><%= media.format %></span>
      </td>
      <td class="origin">
	<span><a href="<% print('#' + media.repository + '/' + media.origin) %>"><%= media.origin %></a></span>
      </td>
      <td class="date">
	<span><%= formatDate(media.date) %></span>
      </td>
      <td class="license">
	<span><%= media.license %></span>
      </td>
      <td class="type">
	<img alt="<%= media.type%>" src="images/icon-<%= media.type %>.png" />
      </td>
      <td class="num_copies">
	<span><%= media.num_copies %></span>
      </td>
      <td class="is_local">
	<% if(media.is_local) { %>
	<span class="local">{% trans "yes" %}</span>	  
	<% } else { %>
	<span class="not_local">{% trans "no" %}</span>	  
	<% } %>
      </td>
      <td class="status">
	<% if (media.is_requested) { %>
	<div class="requested">
	  <span>{% trans "requested" %}</span>
	</div>
	<% } else if (!media.is_requested && media.is_local) { %>
	<div class="local">
	  <span>{% trans "is_local" %}</span>
	</div>
	<% } else {
	   if (BBXFunctions.isLogged()) { %>
	<div class="not_local">
	  <input type="checkbox" name="request" class="request-copy" id="request-copy-<%= media.uuid %>" value="<%= media.uuid %>">
	  <span>{% trans "request" %}</span>
	  <% }
	   } %>
      </td>
      <td class="note">
	<span><% print(BBXFunctions.truncate(media.note, 35, '...')); %></span>
      </td>
      <td class="tags">
	<span>
	  <% _.each(media.tags, function(tagName) { %>
	  <%= tagName %>&nbsp;
	  <% }); %>
	 </span>
      </td>	    
    </tr>
    <% }) %>
  </tbody>
</table>
</div>

<% if (_.isEmpty(medias)) { %>
<!-- lista de dados vazia -->-
<h4 class="message"><%= message %></h4>
<% } %>


</div>
