{% load i18n %}
<div id="media-view">
  <!-- inicio inner content -->
  <div id="inner-content">
    
    <!-- inner sidebar -->
    <div class="block-2 content-div">
      <% if (config.userData.username) { %>
      <div id="link-edit">
	<a href="<%= '#' + media.repository + '/' + media.origin +  '/media/' + media.uuid %>/edit">
	  <img src="images/edit-media.png" />
	</a>
      </div>
      <% } %>
      
      <table class="block-title">
	<tr>
	  <td class="left">{% trans "By" %}</td>
	  <td class="right"><a href="<% print('#' + media.repository + '/' + media.origin + '/mocambola/' + media.author) %>"><%= media.author.split('@')[0] %></a></td>
	</tr>
	<tr>
	  <td class="left">{% trans "Date" %}</td>
	  <td class="right"><%= formatDate(media.date) %></td>
	</tr>
	<tr>
	  <td class="left">{% trans "Mucua" %}</td>
	  <td class="right"><a href="<% print('#' + media.repository + '/' + media.origin) %>"><%= media.origin %></a></td>
	</tr>
	<tr>
	  <td class="left">{% trans "Format" %}</td>
	  <td class="right"><%= media.format %></td>
	</tr>
	<tr>
	  <td class="left">{% trans "Size" %}</td>
	  <td class="right">0GB</td>
	</tr>
	<tr>
	  <td class="left">{% trans "License" %}</td>
	  <td class="right license-image license-<%= media.license %>"></td>
	</tr>
      </table>
      
      
      <div class="block-fields">
      </div>
      <% if (media.tags != '') { %>
      <div class="blocks">
	<p class="tags">
	  <% _.each(media.tags, function(tagName) { %>
	  <a href="<% print('#' + media.repository + '/' + media.origin +  '/bbx/search/' + tagName) %>"><%= tagName %></a>&nbsp;
	  <% }); %>
	</p>      
      </div>
      <% } %>
      <div class="blocks">
	<h3 class="quem-tem title">{% trans "who was this file?" %}</h3>	
	<p class="quem-tem">
	  <span id="whereis">&nbsp;</span>
	</p>
      </div>
    </div>
    <!-- fim de inner sidebar -->

    <!-- bloco multimedia -->    
    <div class="block-1 content-div">
      <div id="media-title">
	<h3><%= media.name %></h3>
      </div>
      
      <% if (media.is_local) { %>
      <div class="media-image">
	<% if (media.type === 'imagem') { %>
	<a href="<%= media.url %>" class="media-image-container">
	  <% parseThumb(media, params); %>
	</a>
	<% } else if (media.type == 'video') { %>
	<video controls src="<%= media.url %>" />
	<% } else if (media.type == 'audio') { %>
	<audio controls src="<%= media.url %>" />
	<% } else if (media.type ='arquivo') { %>
	<a href="<%= media.url %>" class="download">download</a>
	<% } %>
      <% } else { %>
      {% trans "No preview available" %}
      <% } %>

      <% if (media.note != '') { %>
      <div class="blocks" style="clear: both">
	<p class="text"><%= media.note %></p>
      </div>
      <% } %>
      
    </div>   
      
    <% if (media.is_local) { %>
    <div class="blocks">
      <% if (media.type !=='arquivo') { %>
      <a href="<%= media.url %>" class="download">{% trans "download" %}</a>
      <p class="">
      {% trans "Local content" %}
      </p>
      <% } %>
    </div>
    <% } %>
    <% if (!media.is_local) { %>
    <div class="blocks clear-both request<% if (media.is_requested === true) { %>ed<%} %>-copy">
      <div value="<%= media.uuid %>">
        <span id="message-request" class="title-bold">
        </span>
        <span class="image"></span>
      </div>
      </div>
      <% } %>
      <p class="uuid">{% trans "UUID:" %} <%= media.uuid %></p>
    </div>
    <!-- bloco multimedia -->    
  </div>
  <!-- fim do inner-content -->
</div>
  

<!-- <a href="edit">editar</a>-->
