{% load i18n %}
<!-- begin of media-publish -->
<div id="media-gallery-edit">
  <h3>{% trans "Edit gallery" %}</h3>
  
  <div id="media-gallery-edit-form">
    <form action="" method="post" enctype="multipart/form-data" id="fileupload">  
    <table>
      <thead>
	<tr>
	  <td colspan="20">
	    <!-- selecionador de colunas de dados -->
	    <div id="select-column"><span>{% trans "Select columns..." %}</span>
	    </div>
	    <div id="menu-colunas">
	      <ul class="checkboxes">
		<li class="thumb"><input type="checkbox" name="thumb">{% trans "thumbnail" %}</li>
		<li class="name"><input type="checkbox" name="name">{% trans "name" %}</li>
		<li class="date"><input type="checkbox" name="date">{% trans "date" %}</li>
		<li class="license"><input type="checkbox" name="license">{% trans "license" %}</li>
		<li class="tags"><input type="checkbox" name="tags">{% trans "tags" %}</li>
		<li class="note"><input type="checkbox" name="note">{% trans "description " %}</li>
	      </ul>
	    </div>   
	  </td>
	</tr>
	
	<tr>
	  <td class="thumb"><span>{% trans "Thumbnail" %}</span></td>
	  <td class="name"><span>{% trans "Name of media" %}</span></td>
	  <td class="date"><span>{% trans "Date" %}</span></td>
	  <td class="license"><span>{% trans "License" %}</span></td>
	  <td class="tags"><span>{% trans "Tags" %}</span></td>
	  <td class="note"><span>{% trans "Note" %}</span></td>
	  <td class="update"><span>{% trans "Save" %}</span></td>
	</tr>
	<tr>
	  <td>
	    <span class="title">{% trans "Multiple edit" %}</span> <br/>
	    <span>{% trans "(override particular changes)" %}</span>
	  </td>
	  
	  <td class="name">
	    <input type="text" name="all-name" class="all-name"/>
	  </td>
	  
	  <td class="date">
	    <input type="text" name="all-date" class="all-date" />
	  </td>
	  
	  <td class="license">
	    <select name="license" class="all-license">
	      <% _.each(licenses, function(value, key) { %>
	      <option value="<%= key %>"><%= value %></option>
	      <% }) %>
	    </select>
	  </td>

	  <td class="tags">
	    <textarea name="all-tags" class="all-tags"></textarea>
	  </td>
	  
	  <td class="note">
	    <textarea name="all-note" class="all-note"></textarea>
	  </td>

	  <td class="operations">
	    <div class="save-all"></div>
	  </td>
	</tr>
      </thead>
      <tbody>
	<!-- content goes here -->
      </tbody>
    </table>
    </form>
  </div>
</div>
<!-- end of media-publish -->
