{% load i18n %}
<div class="pagination-pages">
<%
// laço percorre páginas para montar paginador
var jumpPage = 0;         // cria o '...' quando tem muitos registros
for (var page = 1; page <= totalPages; page++) { %>
     <%
  // se for pagina atual
	var currentPage = Math.floor((limit + offset) / itensPerPage);   // indicador numérico da página atual
  if (currentPage === page) {
    var nextPage = page + 1,
    backPage = page - 1,
    nextHtml = '',
    backHtml = '',
    currentPage = page,	
    url = (url[url.length -1] === '/') ?  url.substr(0, url.length -1): url;  // remove '/' do final, se houver	 
    jumpPage = 0;
	
    // se proxima pagina menor que total, escreve link de next
    if (nextPage <= totalPages) {
      var nextLimit = ((page + 1) * itensPerPage) - itensPerPage,
      nextOffset = itensPerPage,		       
      urlNext = url + "/limit/" + nextLimit + "/" + nextOffset;
		 
      nextHtml = '<a class="next" href="' + urlNext + '">{% trans "next" %}</a>';
    } else {
      nextHtml = '';
		    }

    if (backPage > 0) {
      var backLimit = ((page -1) * itensPerPage) - itensPerPage,
      backOffset = itensPerPage,		       
      urlBack = url + "/limit/" + backLimit + "/" + backOffset;
      backHtml = '<a class="back" href="' + urlBack + '">{% trans "back" %}</a>';
    } else {
      backHtml = '';
    }
	%>
     <div>
       <strong><%= page %></strong>
     </div>
      <%
  // se for outra página que não a atual
	} else {
	if ((page >= currentPage - maxPages && page <= currentPage + maxPages)
	       ||
             (page === 1 || page === totalPages)
	     ) {
	%>
	<a href="<%= url %>/limit/<%= (page * itensPerPage) - itensPerPage %>/<%= itensPerPage  %>"><%= page %></a>
	<% } else {
	   if (jumpPage === 0) {
	   %>......<%
	   }
   	jumpPage ++;
       } %>
   <% } %>
   <% } %>
</div>
<div class="pagination-buttons">
  <div class="back" class="nav">
     <h3><%= backHtml %></h3>
  </div>
  <div>
  {% trans "total:" %} <%= totalMedia %>
  </div>
   <div class="next" class="nav">
     <h3><%= nextHtml %></h3>
   </div>
</div>
