{% load i18n %}
<!-- begin of media-publish -->
<div id="media-gallery-edit">
  <h3><%= pageTitle %></h3>
  
  <div id="media-gallery-edit-form">
    <table>
      <thead>
	<tr>
	  <td class="thumb"><span>{% trans "Thumbnail" %}</span></td>
	  <td class="name"><span>{% trans "Name of media" %}</span></td>
	  <td class="date"><span>{% trans "Date" %}</span></td>
	  <td class="license"><span>{% trans "License" %}</span></td>
	  <td class="tags"><span>{% trans "Tags" %}</span></td>
	</tr>
      </thead>
      <tbody>
	<!-- content goes here -->
      </tbody>
    </table>
  </div>
</div>
<!-- end of media-publish -->
